header {
  background: #136c72;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072A2D;
  color: white;
  transition: opacity 250ms ease;
  
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* Other CSS */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
} 

.nav__item {
  font-size: .9rem;
  list-style: none;
}
.nav__list .nav__item {
  margin-top: 1em;
}
.nav__list:not(:first-child) {
  margin-top: 2em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.logo {
  display: inline-block;
  margin-left: 2em;
}

.nav__link:focus, 
.nav__link:hover {
  opacity: .75;
}

@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }

  .logo {
    display: inline;
    margin: 0;
  }

  .nav {
    visibility: visible;
    width: 100%;
    align-items: center;
    align-self: center;
  }
  .nav__list .nav__item, .nav__list:not(:first-child) {
    margin: 0;
    padding: 0;
  }

  .nav__list {
    gap: 1em;
  }
  .nav__list--primary {
    margin: 0 auto;
  }
}