*, *::before, *::after{
  box-sizing: border-box;
}
body {
  font-size: 1.3rem;
  font-family: Roboto, Arial;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 3rem;
  margin: 0;
}
img {
  width: 100%;
}

/* First Section */
.wrapper {
  width: 100%;
  padding: 6.25em 0;
  background: #23424A;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.wrapper__text {
  width: 62%;
}
.wrapper__img {
  width: 32%;
  align-items: flex-start;
}

.title {
  color: white;
  font-weight: 900;
}
.sub-title {
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.85);
}

.learn-btn {
  display: inline-block;
  border-radius: 31.5px;

  background: #38CFD9;
  color: #072A2D;

  padding: .75em 2em;

  text-decoration: none;
  text-transform: uppercase;

  font-weight: 700;
}
.learn-btn:hover, .learn-btn:focus {
  opacity: .75;
}

/* Second Section */
.three-col {
  padding: 3em 0;
  text-align: center;
}
.three-col h2 {
  color: #87629A;
  font-weight: 900;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 1.875em;
}

/* Third Section */
.two-col {
  padding: 3em 0;
  background-color: #136C72;
  color: white;
  text-align: center;
}
